COZE_API_BASE_URL=
COZE_API_TOKEN=
COZE_WORKFLOW1_ID=
COZE_WORKFLOW1_JD_TEXT_KEY=jd_text
COZE_WORKFLOW1_JOB_TYPE_KEY=job_type
COZE_WORKFLOW1_COMPANY_TYPE_KEY=company_type
COZE_WORKFLOW2_ID=
COZE_WORKFLOW2_INPUT_KEY=workflow1_result
COZE_WORKFLOW2_TARGET_ROLE_DIRECTION_KEY=targetroledirection
COZE_WORKFLOW2_USER_KEY_KEY=user_key
COZE_WORKFLOW3_ID=
COZE_WORKFLOW4_ID=
COZE_WORKFLOW4_TARGET_ROLE_DIRECTION_KEY=targetroledirection
COZE_WORKFLOW4_WORKFLOW1_RESULT_KEY=workflow1_result
COZE_WORKFLOW4_WORKFLOW2_RESULT_KEY=workflow2_result
COZE_WORKFLOW4_PRACTICE_QUESTION_TYPE_KEY=practicequestiontype
COZE_WORKFLOW4_USER_PROJECTS_RESULT_KEY=userprojectsresult
COZE_WORKFLOW4_FOCUS_ON_WEAKNESS_KEY=focus_on_weakness
COZE_WORKFLOW4_PRACTICE_MODE_KEY=practice_mode
COZE_WORKFLOW5_ID=
COZE_WORKFLOW5_CURRENT_QUESTION_KEY=current_question
COZE_WORKFLOW5_CURRENT_QUESTION_POINT_KEY=currentquestionpoint
COZE_WORKFLOW5_QUESTION_TYPE_KEY=question_type
COZE_WORKFLOW5_USER_ANSWER_KEY=user_answer
COZE_WORKFLOW5_TARGET_ROLE_DIRECTION_KEY=targetroledirection
COZE_WORKFLOW5_WORKFLOW2_RESULT_KEY=workflow2_result
DEFAULT_USER_KEY=default_user
DATABASE_URL="file:./prisma/dev.db"
